rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /Users/{UserId} {
      allow create: if true;
      allow update, delete: if isOwner(UserId);
      allow read, list: if isLoggedIn();

      match /Notifications/{NotificationId} {
        allow create: if false;
        allow read, update, delete: if isOwner(UserId);
      }
    }

    match /Notes/{NoteId} {
      allow create: if isLoggedIn();
      allow read, update, delete: if isOwner(resource.data.Author);
    }

    function isLoggedIn() {
      return request.auth.uid != null;
    }

    function isOwner(uid) {
      return request.auth.uid == uid;
    }
  }
}