@import "~@covalent/core/theming/all-theme";
@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.profilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #2196f3;
}

/**
 * Material Extensions
 */

.mat-drawer-side {
  border: none;
}
