<div layout="column" class="md-padding">
  <h2>Sign up for a Firebase Note App account</h2>
  <form [formGroup]="signUpForm" layout="column" (submit)="signUp()">
    <div layout="column" layout-gt-sm="row">
      <mat-form-field appearance="outline" flex>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" required />
        <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
          Please enter your first name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" flex>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" required />
        <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
          Please enter your last name
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field flex appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error
        *ngIf="
          signUpForm.get('email').hasError('required') ||
          signUpForm.get('email').hasError('email')
        "
      >
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field flex appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="signUpForm.get('password').hasError('required')">
        Please enter your password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="!signUpForm.valid">
      Sign Up
    </button>
  </form>

  <p>
    Already have an account? You can sign in
    <a [routerLink]="['/auth/sign-in']">here</a>
  </p>
</div>
